*[data-print="true"] {
  display: none !important;
}

body {
  /* padding-top: var(--btn-bar-height);
  padding-top: calc((100vh - var(--doc-height)) / 2 + var(--btn-bar-height)); */
  padding-top: calc((100vh - var(--doc-height)) / 2);
  background: var(--screen-color-bg);
}

#invoice {
  margin: auto;
  background: white;
  box-shadow: 10px 10px 100px 5px #0006;
}

footer {
  padding-top: 2mm;
}

textarea[data-lang="invoice-note-placeholder"] {
  margin-top: 2mm;
}

input, textarea {
  background: var(--screen-color-accent);
  color: black;
}

*[readonly] {
  background: var(--screen-color-accent-sec);
}

textarea {
  min-height: 1.2rem;
  margin-bottom: 1rem;
  resize: vertical;
}

td textarea {
  margin: 0;
}

/* ===== top control bar ===== */
.button-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--btn-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--screen-color-bg-bar);
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.1);
}

.button-bar button, input {
  background: #fff;
  color: var(--screen-color-bg-bar);
}

.button-bar input {
  width: 2rem;
  height: 70%;
  padding: .2rem;
  border-radius: .2rem;
}

.button-bar *+* {
  margin-left: 1rem;
}

button {
  cursor: pointer;
  padding: .2rem;
  border-radius: .2rem;
  border: none;
  margin-bottom: .1rem;
  background: var(--screen-color-action);
  color: #fff;
}
