:root {
  /* format & orientation */
  --doc-width: 210mm;
  --doc-height: 297mm;
  /* margins */
  --margin-top: 2.7cm;
  --margin-right: 1cm;
  --margin-bottom: .5cm;
  --margin-left: 2.5cm;

  /* update with JavaScript */
  --footer-height: 0px;

  /* screen colors */
  --screen-color-bg: rgba(82, 86, 89, 1);
  --screen-color-bg-bar: rgba(50, 54, 57, 1);
  --screen-color-action: #800;
  --screen-color-accent: #eee;
  --screen-color-accent-sec: #ddd;
  /* screen sizes */
  --btn-bar-height: 50px;

  /* print colors */
  --print-color-a: #0645AD; /* Wikipedia link blue */
}
